* {
    margin:0;
    box-sizing: border-box;
}
:root {
    --p1:hsl(225, 100%, 94%);
    --p2:hsl(245, 75%, 52%);
    --n1:hsl(225, 100%, 98%);
    --n2:hsl(224, 23%, 55%);
    --n3:hsl(223, 47%, 23%);
    --pad:20px;
}
body {
    background-image: url("../images/pattern-background-desktop.svg"); 
    background-repeat:no-repeat;
    background-size:contain;
}
main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.card {
    max-width: 450px;
    min-width: 450px;
    /* fixed width to prevent resizing */
    background-color: var(--n1);
    border-radius: 20px;
    overflow: hidden;
}

.image img{
    width: 100%;
}
.content {
    padding: calc(var(--pad)*2);
    font-family: "Work Sans",sans-serif;
    text-align: center;
}
.content h1 {
    color: var(--n3);
}
.content p {
    font-weight: 500;
    color:var(--n2);   
    padding: var(--pad);
}
.plan  {
    background-color: hsl(225, 100%, 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--pad);
    border-radius: 15px;
    overflow: hidden;
}
.plan .cost {
    margin-right: auto;   
}
.plan h2 {
    color: var(--n3);
    padding-bottom: 5px;
    font-size: 1.2em;
}
.plan h3 {
    font-weight: 500;
    color: var(--n2);
}
.plan .change{
    color: var(--p2); 
}
.content button  {
    display: block;
    background-color: var(--p2);
    color: white;
    width: 100%;
    height:50px;
    font-weight: 700;
    border-radius: 10px;
    margin: 20px 0;
}
.content .cancel {
    font-weight: 700;
    text-decoration: none;
    color: var(--n2);
}
.attribution { font-size: 16px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media screen and (max-width:500px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg"); 
        background-repeat:no-repeat;
        background-size:contain;
    }
    .card {
        max-width: 350px;
        min-width: 350px;
        font-size: 13px;
    }
    :root {
        --pad:10px;
    }
}